# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Speech recordings - DO NOT PUSH
data/speech_dataset/audio/
data/speech_dataset/processed/
data/speech_dataset/metadata.csv